*{
    margin:0px;
    padding:0px;
   

}
body{
    display:grid;
    place-content:center;
    min-height:100vh;
    background-color:rgb(250, 250, 250)  
   
}

.container{
    background-color:white ;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

input[type="text" i]{
    width: 180px;
    position: relative;
 left: 30px;
 
}

.checked{
    color:orange;
}

.form ul li {
 display:inline-block;
 list-style:none;
 width: 135px;
 text-align: -webkit-right;
 position: relative;
 left: 190px;
}

.survey-form{
    line-height: 2.6em;
}

h5{
    margin:0px;
    padding:0px;
}

input[type="email" i] {
    position: relative;
 left: 40px;
}
  .form-box li{
    display:inline-block;
    list-style:none;
    width: 135px;
    position: relative;
    left: 260px;
    text-align: -webkit-right;
  }

  input[type="checkbox" i]{
    position: relative;
    left:1px;
    width: 135px;
  }

  span{
    color:red;
  }